@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 207 100% 97%;
    --foreground: 240 10% 3.9%;
    --card: 207 100% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 207 100% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 197 71% 63%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 67% 94%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 240 60% 96%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 67% 94%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 30% 90%;
    --input: 240 30% 92%;
    --ring: 197 71% 63%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
